page-login {
  .scroll-content {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .header {
    background-color: color($colors, primary) !important;
    text-align: center;
    color: #fff !important;
    font-weight: bold;
  }
  ion-card {
    margin-top: 0px !important;
    background: transparent !important;
    position: absolute;
    top: 50px !important;
    transition: all .75s;
    background: rgba(#ffffff, .9) !important;
    &#login {
      visibility: visible;
      opacity: 1;
    }
    &#register {
      visibility: hidden;      
      opacity: 0;
    }
    &#forgotPassword {
      visibility: hidden;      
      opacity: 0;
    }
  }
  .item-inner {
    margin-left: 0px !important;
    input {
      color: #222;
    }
  }
  ion-icon {
    color: #7f8c8d;
    font-size: 2.5rem !important;
  }
}