page-profile {
  #avatar {
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);
  }
  .status-0 {border: 5px solid color($colors, status0)}
  .status-1 {border: 5px solid color($colors, status1)}
  .status-2 {border: 5px solid color($colors, status2)}
  .status-3 {border: 5px solid color($colors, status3)}
  .status-4 {border: 5px solid color($colors, status4)}
  .status-5 {border: 5px solid color($colors, status5)}
  .status-6 {border: 5px solid color($colors, status6)}
  .status-7 {border: 5px solid color($colors, status7)}
  .noDataYet {
    text-align: center;
    color: #888;
    font-style: italic;
  }
  .gantt {
    margin: 10px;
    height: 40px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
  }
  .datum {
    text-align: center;
    color: #ddd;
  }
  .times {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: #ddd;
  }
  .block {
    float: left;
    height: 40px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.24);
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    white-space: nowrap;
  }
  .block:hover {
    width: 100px;
  }
  .block-0 {background-color: color($colors, status0)}
  .block-1 {background-color: color($colors, status1)}
  .block-2 {background-color: color($colors, status2)}
  .block-3 {background-color: color($colors, status3)}
  .block-4 {background-color: color($colors, status4)}
  .block-5 {background-color: color($colors, status5)}
  .block-6 {background-color: color($colors, status6)}
  .block-7 {background-color: color($colors, status7)}
}
