<ion-header>
  <ion-navbar>
    <ion-title>
      Luxafor
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="connect()">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
        <ion-icon *ngIf="!spinner" [ngStyle]="{'color': connectColor}" name="bluetooth"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goSettings()"><ion-icon name="cog"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content scroll>
  <ion-list no-lines>
    <ion-list-header no-lines>
      <ion-icon name="color-fill"></ion-icon> Farbe
    </ion-list-header>
    <div id="setColors">
      <ion-grid>
        <ion-row>
          <ng-container *ngFor="let i of [0,1,2,3,4,5,6,7]">
            <ion-col col-3 *ngIf="showColors[i]">
              <button class="status-{{ i }}" (click)="setColor(i)"><ion-icon *ngIf="activeColor == i" name="checkmark"></ion-icon></button>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </div>
    <ion-list-header>
      <ion-icon name="sunny"></ion-icon> Helligkeit
    </ion-list-header>
    <ion-item>
      <ion-range min="0" max="255" step="5" [(ngModel)]="brightness" (ionChange)="changeBrightness()">
        <ion-icon small range-left name="sunny"></ion-icon>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
    <div *ngIf="ganttBool">
      <ion-list-header>
        <ion-icon name="time"></ion-icon> Zeitstrahl von heute
      </ion-list-header>
      <div class="gantt" *ngIf="gantts">
        <div (click)="showTime(block.time)" class="block block-{{ block.status }}" *ngFor="let block of gantts[0].blocks" [style.width]="block.width"></div>
      </div>
      <div class="times">
        <div>8:00</div>
        <div>14:00</div>
        <div>20:00</div>
      </div>
    </div>
  </ion-list>
</ion-content>