page-luxafor {
  #setColors {
    ion-icon {
      color: #fff;
      text-shadow: 0px 1px 5px rgba(#000, .8);
    }
    button {
      width: 100%;
      height: 30px;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    #white {background-color: rgb(255, 255, 255)}
    #red {background-color: rgb(220, 0, 0)}
    #blue {background-color: rgb(0, 0, 220)}
    #yellow {background-color: rgb(220, 220, 0)}
    #green {background-color: rgb(0, 220, 0)}
    #purple {background-color: rgb(220, 0, 220)}
    #cyan {background-color: rgb(0, 220, 220)}
    #none {background-color: rgb(30, 30, 30)}
  }
  #luxConnect {
    font-size: 190px;
  }
}
