page-luxafor {
  ion-header ion-navbar button {
    margin-left: 10px !important;
  }
  #setColors {
    ion-icon {
      color: #fff;
      text-shadow: 0px 1px 5px rgba(#000, .8);
    }
    button {
      width: 100%;
      height: 30px;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }
  .status-0 {background-color: color($colors, status0)}
  .status-1 {background-color: color($colors, status1)}
  .status-2 {background-color: color($colors, status2)}
  .status-3 {background-color: color($colors, status3)}
  .status-4 {background-color: color($colors, status4)}
  .status-5 {background-color: color($colors, status5)}
  .status-6 {background-color: color($colors, status6)}
  .status-7 {background-color: color($colors, status7)}
  #luxConnect {
    font-size: 190px;
  }
  .gantt {
    margin: 10px;
    height: 40px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
  }
  .times {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: #ddd;
  }
  .block {
    float: left;
    height: 40px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.24);
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    white-space: nowrap;
  }
  .block:hover {
    width: 100px;
  }
  .block-0 {background-color: color($colors, status0)}
  .block-1 {background-color: color($colors, status1)}
  .block-2 {background-color: color($colors, status2)}
  .block-3 {background-color: color($colors, status3)}
  .block-4 {background-color: color($colors, status4)}
  .block-5 {background-color: color($colors, status5)}
  .block-6 {background-color: color($colors, status6)}
  .block-7 {background-color: color($colors, status7)}
}
