<ion-header>
  <ion-navbar>
    <ion-title>
      Luxafor
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll>
  <ion-list no-lines>
    <ion-item>
      <ion-input [(ngModel)]="luxname" placeholder="Luxafor-Device-Name"></ion-input>
    </ion-item>
    <button ion-button [style.background-color]="connectColor" full (click)="connect()">{{ connectTitle }}</button>
    <!-- <ion-icon name="settings"></ion-icon> -->
    <ion-list-header no-lines>
      <ion-icon name="color-fill"></ion-icon> Color
    </ion-list-header>
    <div id="setColors">
      <ion-grid>
        <ion-row>
          <ion-col col-3 *ngFor="let color of colors">
            <button id="{{color.id}}" (click)="setColor(color.rgb, color.id)"><ion-icon *ngIf="activeColor == color.id" name="checkmark"></ion-icon></button>
          </ion-col>
      </ion-row>
      </ion-grid>
    </div>
    <ion-list-header>
        <ion-icon name="sunny"></ion-icon> Brightness
    </ion-list-header>
    <ion-item>
      <ion-range min="0" max="255" step="5" [(ngModel)]="brightness" (ionChange)="changeBrightness()">
        <ion-icon small range-left name="sunny"></ion-icon>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
	<p *ngFor="let device of devices">{{ device }}</p>
</ion-content>


<!-- <ul class="navigation">
  <li ng-repeat="item in items" class="item" ng-class="{'active': item.id == states.activeItem}" ng-click="states.activeItem=item.id">{{item.title}}</li>
</ul> -->
